[Desktop Entry]
Name=DeforaOS Notes
GenericName=Notes
Comment=Keep a list of notes
TryExec=notes
Exec=notes
Icon=notes
Type=Application
Categories=Office;GTK;
StartupNotify=true
